<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue first project</title>

    <!-- link font-awsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Boolstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- link css -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- link font -->

    <!-- Vue3 cdn -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

    <!-- link Java Script main -->
    <script type="text/javascript" src="./js/main.js" defer></script>
  </head>
  <body>
    <div id="app">
      <header></header>
      <main>
        <div class="input-container">
          <div class="container d-container">
            <div class="title">
              <label for="title-input">Inserisci un titolo</label>
              <input
                v-model="title"
                type="text"
                id="title-input"
                placeholder="Titolo"
              />
            </div>
            <div class="image">
              <label for="title-input"
                >Inserisci il search di un'immagine</label
              >
              <input
                v-model="imgSrc"
                type="text"
                id="title-input"
                placeholder="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.skyscanner.it%2Fnotizie%2Fisole-hawaii&psig=AOvVaw193-fBfPzvmybQTS-XtBKB&ust=1706625069944000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIjAr_vngoQDFQAAAAAdAAAAABAD"
              />
            </div>
          </div>
        </div>
        <div class="result-element-container">
          <div class="container">
            <h1>{{ title }}</h1>
            <img :src="imgSrc" alt="immagine scelta dall'utente" />
          </div>
        </div>
      </main>
      <footer></footer>
    </div>
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
      ></script> -->
  </body>
</html>
